pre {
  font: 24px Verdana bold;
}

.fizz {
  color: blue;
}

.buzz {
  color: red;
}

pre > span + span {
  margin-left: 6px;
}

pre > span:not(:last-child)::after {
  content: ",";
  font-size: 24px;
}

#log3 > span:nth-child(5n) {
  font-size: 0;
}

#log3 > span:nth-child(5n)::before {
  content: "Buzz";
  font-size: 24px;
}

#log3 > span:nth-child(3n) {
  font-size: 0;
}

#log3 > span:nth-child(3n)::before {
  content: "Fizz";
  font-size: 24px;
}
